<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action = / method = post>
        <input name="jmZakaznik" type="text" >
        <button type="submit">Login</button>
        <button onclick = hello()>
            Hello {{counter}}
        </button>
        <p>{{jmZakaz}}</p>
    </form>
    

</body>
<script type="text/javascript" src = templates/script.js></script>
</html>





